
#controlsKytos {
 color: #DFDFDF;

  .help {
    display: none; 
   }

   label {
    color: #545454;
   }

   .btn-kytos-default {
    height: 25px;
    width: 25px;
    padding: 0px;
    font-size: 1em;
    color: #EEE;
    border: 1px solid #554077;
    border-radius: 0px;
    background: #554077;
   }

   .checkbox { display: inline; }

   .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
   }

   .checkbox label::before {
    height: 25px;
    width: 25px;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #554077;
    color: #EEE;
    background: #554077;
   }

   .checkbox label:hover::before {
    border-color: #FFF;
    color: #FFF;
    background: #554077;
   }

   .checkbox input[checked="checked"] + label::before {
    border-color: #DFDFDF;
    color: #554077;
    background: #DFDFDF !important;
   }

/* Icons to Control Kytos */
#f06e::before { font-family: "FontAwesome"; content: "\f06e"; }
#f071::before { font-family: "FontAwesome"; content: "\f071"; }
#f1e6::before { font-family: "FontAwesome"; content: "\f1e6"; }
#f279::before { font-family: "FontAwesome"; content: "\f279"; }

} /* end #controlsKytos */

#settingsLayouts .right {
 float: left;
 margin: 0;
}

#savedLayouts {
 margin-left: 40px;
}

.ui-tooltip,
#settingsLayouts:hover p.help {
 display: block;
 position: absolute;
 color: #FFF;
 background: #000;
 padding: 0.5em;
 margin: 0.5em;
 text-align: center;
 opacity: 0.5;
 border-radius: 3px;
}

#settingsLayouts .btn-kytos-default:hover {
 border-color: #FFF;
 color: #FFF;
}

#settingsLayouts .btn-kytos-default:active {
 border-color: #FFF;
 color: #554077;
 background-color: #FFF;
}

.input-kytos-default {
 color: #DFDFDF;
 background: #191A1A;
 border: 1px solid #554077;
 min-width: 110px;
 min-height: 25px;
}

.input-kytos-default:focus,
.input-kytos-default:active,
.input-kytos-default:hover {
 color: #DFDFDF;
 background: #000;
 border: 1px solid #DFDFDF;
}

.ui-helper-hidden-accessible {
 display: none;
}

.group-kytos {
 background: rgba(0, 0, 0, 0.5);
 width: auto;
 float: left;
 padding: 4px;
}

#settingsMaps .group-kytos {
padding-right: 20px;
}
