

.color-turquoise {
  color : $turquoise;
}

.color-green-sea {
  color : $green-sea;
}

.color-emerald {
  color : $emerald;
}
.color-nephritis {
  color : $nephritis;
}

.color-peter-river {
  color : $peter-river;
}

.color-belize-hole {
  color : $belize-hole;
}

.color-amethyst {
  color : $amethyst;
}

.color-wisteria {
  color : $wisteria;
}

.color-wet-asphalt {
  color : $wet-asphalt;
}
.color-midnight-blue {
  color : $midnight-blue;
}

.color-sun-flower {
  color : $sun-flower;
}

.color-orange {
  color:  $orange;
}

.color-carrot {
  color : $carrot;
}

.color-pumpkin {
  color:  $pumpkin;
}

.color-alizarin {
  color : $alizarin;

}
.color-pomegranate {
  color : $pomegranate;
}

.color-clouds {
  color : $clouds;
}
.color-silver {
  color : $silver;
}

.color-concrete {
  color : $concrete;
}

.color-asbestos {
  color : $asbestos;
}

.bg-turquoise {
  background : $turquoise;
  background-image : none!important;
}

.bg-green-sea {
  background : $green-sea;
  background-image : none!important;
}

.bg-emerald {
  background : $emerald;
  background-image : none!important;
}
.bg-nephritis {
  background : $nephritis;
  background-image : none!important;
}

.bg-peter-river {
  background : $peter-river;
  background-image : none!important;
}

.bg-belize-hole {
  background : $belize-hole;
  background-image : none!important;
}

.bg-amethyst {
  background : $amethyst;
  background-image : none!important;
}

.bg-wisteria {
  background : $wisteria;
  background-image : none!important;
}

.bg-wet-asphalt {
  background : $wet-asphalt;
  background-image : none!important;
}
.bg-midnight-blue {
  background : $midnight-blue;
  background-image : none!important;
}

.bg-sun-flower {
  background : $sun-flower;
  background-image : none!important;
}

.bg-orange {
  background:  $orange;
  background-image : none!important;
}

.bg-carrot {
  background : $carrot;
  background-image : none!important;
}

.bg-pumpkin {
  background:  $pumpkin;
  background-image : none!important;
}

.bg-alizarin {
  background : $alizarin;
  background-image : none!important;

}
.bg-pomegranate {
  background : $pomegranate;
  background-image : none!important;
}

.bg-clouds {
  background : $clouds;
  background-image : none!important;
}
.bg-silver {
  background : $silver;
  background-image : none!important;
}

.bg-concrete {
  background : $concrete;
  background-image : none!important;
}

.bg-asbestos {
  background : $asbestos;
  background-image : none!important;
}
