.mt {
  margin-top : 10px;
}

.mb {
  margin-bottom : 10px;
}

.ml {
  margin-left : 10px;
}

.mr {
  margin-right : 10px;
}

.no-padding {
  padding-top : 0;
  padding-left : 0;
  padding-right : 0;
  padding-bottom: 0;
}

.no-border {
  border-top : 0;
  border-right: 0;
  border-bottom: 0;
  border-left : 0;

}