<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="static/images/favicon.png">
        <title>Dashboard Template for Bootstrap</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Work+Sans:100,200,300,400,500,600,700,800,900">
        <!-- Bootstrap core CSS -->
        <link href="static/css/style.min.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="#">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-brand" href="index.html">
                        <img src="static/images/logo.png" class="hidden-xs hidden-sm visible-lg visible-md" height="45" alt="Kytos"/>
                        <img src="static/images/logo-circle-white.png" class="hidden-lg hidden-md visible-sm visible-xs" height="45" alt="Kytos"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="left-nav-toggle">
                        <a href="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="Search data for analysis" style="width: 175px">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class=" profil-link">
                            <a href="login.html">
                                <img src="static/images/avatar.jpg" class="img-circle" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav>
                    <ul class="nav sidebar">
                        <li class="nav-category hidden-xs hidden-sm">
                            Main
                        </li>
                        <li class="active">
                            <a href="index.html">
                                <i class="fa fa-dashboard fa-2x hidden-lg hidden-md"></i>
                                <i class="fa fa-dashboard hidden-xs hidden-sm"></i>
                                    Dashboard
                            </a>
                        </li>

                        <li>
                            <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                              <i class="fa fa-chevron-down hidden-xs hidden-sm pull-right" aria-hidden="true"></i>
                              <i class="fa fa-bar-chart fa-2x hidden-lg hidden-md"></i>
                              <i class="fa fa-bar-chart hidden-xs hidden-sm"></i>
                              Monitoring
                            </a>
                            <ul id="monitoring" class="nav nav-second collapse">
                                <li><a href="#">Metrics</a></li>
                                <li><a href="usage.html">Usage</a></li>
                                <li><a href="activity.html">Activity</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                              <i class="fa fa-chevron-down hidden-xs hidden-sm pull-right" aria-hidden="true"></i>
                              <i class="fa fa-line-chart fa-2x hidden-lg hidden-md"></i>
                              <i class="fa fa-line-chart hidden-xs hidden-sm"></i>
                              Monitoring
                            </a>
                            <ul id="monitoring" class="nav nav-second collapse">
                                <li><a href="#">Metrics</a></li>
                                <li><a href="usage.html">Usage</a></li>
                                <li><a href="activity.html">Activity</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                              <i class="fa fa-chevron-down hidden-xs hidden-sm pull-right" aria-hidden="true"></i>
                              <i class="fa fa-pie-chart fa-2x hidden-lg hidden-md"></i>
                              <i class="fa fa-pie-chart hidden-xs hidden-sm"></i>
                              Monitoring
                            </a>
                            <ul id="monitoring" class="nav nav-second collapse">
                                <li><a href="#">Metrics</a></li>
                                <li><a href="usage.html">Usage</a></li>
                                <li><a href="activity.html">Activity</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#monitoring" class="open-terminal" data-toggle="collapse" aria-expanded="false">
                              <i class="fa fa-terminal fa-2x hidden-lg hidden-md"></i>
                              <i class="fa fa-terminal hidden-xs hidden-sm"></i>
                              Terminal
                            </a>
                        </li>

                        <li class="nav-info hidden-sm hidden-xs">
                            <i class="pe pe-7s-shield text-accent"></i>
                            <div class="m-t-xs">
                                <span class="c-white">Kytos</span>
                                <p>
                                    <strong>Word definition:</strong>
                                    Cyto-: Prefix denoting a cell.</p>
                                <p>
                                    'Cyto-' is derived from the Greek kytos meaning 'hollow, as a cell or container.</p>
                            </div>
                        </li>
                    </ul>
                </nav>

                <section class="content">
                    Main
                </section>
                <section id="terminal" class="terminal">
                  <div class="terminal-header">
                    <div class="terminal-title">
                      <i class="glyphicon glyphicon-console"></i> Terminal
                    </div>
                    <div class="terminal-actions">
                      <a href="#" data-action="max" class="terminal-max"><i class="glyphicon glyphicon-fullscreen"></i></a>
                      <a href="#" data-action="med" class="terminal-med"><i class="glyphicon glyphicon-menu-up"></i></a>
                      <a href="#" data-action="min" class="terminal-min"><i class="glyphicon glyphicon-menu-down"></i></a>
                      <a href="#" data-action="close" class="terminal-close"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                    <div class="terminal-body">
                      Aqui fica o conteúdo do terminal
                    </div>
                    <div class="terminal-footer">
                      <form action="#" class="terminal-form">
                        <input name="command" class="input" rows="2" cols="40" />
                      </form>
                    </div>
                </section>
            </div>
        </div>

        <script src="static/js/vendors/jquery.min.js"></script>
        <script src="static/js/vendors/bootstrap.min.js"></script>
        <script src="static/js/kytos-helper.js"></script>
        <script src="static/js/kytos-terminal.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
