.col-settings {
  font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top : -3px ;
  min-height : 100vh;
  border-right : 1px solid #111;
  border-left : 1px solid #2a2d35;

  &:first-child {
    border-left : 0;
  }

  &:last-child {
    border-right : 0;
  }


  h1 {
    margin : 5px 0 0 0;
    font-weight : normal;
    font-size : 14px;
    padding : 0;
  }

  .checkbox {
    label {
      padding-left: 0;
    }
  }

  label {
    padding-left: 0;
    font-size : 12px;
    display : block;
  }

  .help {
    font-weight : 300;
    margin: 0;
    padding : 0;
  }

  input[type="radio"],
  input[type="checkbox"] {
    vertical-align : bottom;
    margin-top : 1px;
  }

  .dropup {
    .dropdown-menu {
      font-size : 12px;
      max-height: 105px;
      overflow-x : hidden;
      overflow-y : auto;
    }
  }
}