.downlight {
  opacity: 0.3;}

#orientation_text {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  font-size: 18px;
  color: rgba(210, 210, 210, 0.3);
  align-content: center;
  align-items: center;
  align-self: center;
}
