[Unit]
Description=Kytos SDN Platform daemon
After=network.target auditd.service
Documentation=https://docs.kytos.io/

[Service]
ExecStart=/usr/bin/kytosd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Alias=kytos.service
