.rst-content dl:not(.docutils) dl.method code.descname,
.rst-content dl:not(.docutils) dl.attribute code.descname {
  color: #4A4090;
}
.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: solid 3px #5d4796;
    background: white;
    color: #352169;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #5d4796;
}

code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: #ebebeb;
    border: solid 1px #5f21b7;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}

a {
  color: #6e5baa;
  text-decoration: none;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #5d4796;
    color: rgba(255,255,255, 0.5);
    border-top: 3px solid #352169;
    padding: 6px;
    position: relative;
}

.rst-content dl:not(.docutils) code.descclassname {
    display: none;
/*
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: #352169;
*/
}

.rst-content dl:not(.docutils) code.descname {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: white;
    margin: 0px 5px 0px 0px;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 900px;
    margin: auto;
}


body {
    background: linear-gradient(45deg, #68286a 0%,#322c5d 30%,#207cca 30%,#322c5d 30%);
    background-size: cover;
    background-attachment: fixed;
}

#kytos-theme-content-container {
    background: #FFF;
    min-height: 100vh;
}

.content-developer,
.content-admin {
   border: 4em solid #FBF9FD;
}

aside {
	background: none;
	background-color: transparent;
    	background-size: contain;
}

.sidebar-index {
	background: url('./images/Robot.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.sidebar-developer .features-content {
	background: url('./images/doc-wdev.svg');
       	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 600px;
}

.sidebar-admin .features-content {
	background: url('./images/doc-admin.svg');
       	background-position: center;
	background-repeat: no-repeat;
	padding-bottom:  600px;
}

.content-developer .section {
	background: url('./images/icon-devel.svg');
	background-position: top left;
	background-repeat: no-repeat;
}

.content-admin .section {
	background: url('./images/icon-admin.svg');
	background-position: top left;
	background-repeat: no-repeat;
}

.content-developer .section h1,
.content-admin .section h1,
.content-developer .section p.first,
.content-admin .section p.first {
	margin-left: 90px;
	margin-bottom: 0px;
}

.prev-next-nav li {
	background: #008690;
	border: 1px solid #008690;
}

.prev-next-nav li a {
	color: #FFF;
}

.footer {
	background: none;
        padding: 0px;
        margin: 0px;
        margin-top: -100px;
        overflow: hidden;
}

.footer hr {
	margin: 3px;
	border-top: 1px solid #35053F;
}

.fa { font: normal normal normal 16px/1 FontAwesome; }

div#social-kytos {
	padding: 0px;
	position: relative;
	width: auto;
}

div#social-kytos a {
	color: #FFF;
	font-size: 0.8em;
	line-height: 1.3em;
}

div#social-kytos p {
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

#sidebar h1 {
	font-size: 1.9rem;
	margin: 0px;
}

.features-content {
	padding: 3em 6em;
	color: #FFF;
	padding-bottom: 150px;
}

.box-tutorial {
        margin: 1em 1em 0 0;
        box-shadow: 0 0 1em #CCC;
        text-align: center;
        border-top: 3px solid #CCC;
	cursor: pointer;
}

.box-tutorial:hover {
	border-top: 3px solid #0c5d66;
	box-shadow: 0 0 1em #0c5d66;
}

.box-tutorial span.easy { color: green; }
.box-tutorial span.medium { color: orange; }
.box-tutorial span.dificult { color: red; }

.box-tutorial .info-tutorial span {
       font-size: 0.8em;
       margin-bottom: 1em;
       border: 1px solid #CCC;
       border-radius: 0 1em 1em 0;
}

.box-tutorial .info-tutorial span.first {
       border-right: 0;
       border-radius: 1em 0 0 1em;
}

.navbar-nav {
    margin: 0px;
    display: inline-block;
    float: right;
}

.navbar-options li {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    font-size: 0.7em;
    opacity: 0.95;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}
.navbar-options li.active {
    border: 1px solid #00b4c4; 
}
.navbar-options li:hover {
    border: 1px solid #FFF;
}

.navbar-brand { margin-left: 1.9em; }
.navbar-toggle { top: 10px; right: 10px; position: absolute; }
.navbar-collapse { float: right; width: 330px; }
.navbar-collapse.in { width: 100%; } 

@media (max-width: 979px) {
	.features-content { background: none !important; padding-bottom: 1rem !important; }
	aside {
		background: linear-gradient(45deg, #68286a 0%,#322c5d 30%,#207cca 30%,#322c5d 30%); 
		margin-bottom: 3rem;
	}
	#kytos-theme-content-container {
 	   border: 1em solid #FBF9FD;
   	}
	.footer { margin-top: 5px; }
	.docs-social { display: none; }
	
	.content-developer .section h1,
	.content-admin .section h1,
	.content-developer .section p.first,
	.content-admin .section p.first {
		margin-left: 0px;
		margin-bottom: 5px;
	}

}

@media (max-width: 451px) {
	.features-content { padding: 2em; }
	#kytos-theme-content-container {
 	   border: 0px;
   	}

}

@media (min-height: 800px) {
	   footer { position: fixed !important; bottom: 10px; }
}

