.rst-content dl:not(.docutils) dl.method code.descname,
.rst-content dl:not(.docutils) dl.attribute code.descname {
  color: #4A4090;
}
.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: solid 3px #5d4796;
    background: white;
    color: #352169;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #5d4796;
}

code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: #ebebeb;
    border: none;
    font-size: 75%;
    padding: 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #5d4796;
    color: rgba(255,255,255, 0.5);
    border-top: 3px solid #352169;
    padding: 6px;
    position: relative;
}

.rst-content dl:not(.docutils) code.descclassname {
    display: none;
/*
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: #352169;
*/
}

.rst-content dl:not(.docutils) code.descname {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: white;
    margin: 0px 5px 0px 0px;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 900px;
    margin: auto;
}


body {
    background: linear-gradient(45deg, #68286a 0%,#322c5d 30%,#207cca 30%,#322c5d 30%);
    background-size: cover;
    background-attachment: fixed;
}

#kytos-theme-content-container {
    background: #FFF;
    min-height: 100vh;
}

.content-developer,
.content-admin {
   border: 4em solid #FBF9FD;
   padding-top: 1.5em !important; 
}

aside {
	background: none;
	background-color: transparent;
    	background-size: contain;
}

.sidebar-index {
	background: url('./images/Robot.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

#outer-clipart {
	display: flex;
        align-items: center;
	justify-content: center;
	min-height: 50vh;
}

#clipart-devel {
	background: url('./images/doc-wdev.svg');
       	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
        padding-bottom: 470px;	
}

#clipart-admin {
	background: url('./images/doc-admin.svg');
       	background-position: center;
	background-repeat: no-repeat;
	min-width: 300px;
	min-height: 470px;
}

.content-developer #developer-guide {
	background: url('./images/icon-devel.svg');
	background-position: top left;
	background-repeat: no-repeat;
}

.content-admin #a-little-index-for-administrators {
	background: url('./images/icon-admin.svg');
	background-position: top left;
	background-repeat: no-repeat;
}

.content .section h1 { margin-top: 3.2rem; }

.content-developer .section h1,
.content-admin .section h1,
.content-developer .section p.first,
.content-admin .section p.first {
	margin-left: 90px;
	margin-bottom: 0px;
}

.content-index .prev-next-nav li,
.content-home .prev-next-nav li {
	background: #008690;
	border: 1px solid #008690;
}

.content-index .prev-next-nav li a,
.content-home .prev-next-nav li a {
	color: #FFF;
        font-size: 0.8rem;
        display: flex;
}

.prev-next-nav {
	margin-top: 0px;
}

.button-content {
	border: 1px solid #00b4c4;
	padding: 10px 15px;
	font-size: 1em;
	color: #00b4c4;
	border-radius: 10px;
}

.footer {
	background: none;
        padding: 0px;
        margin: 0px;
        margin-top: -100px;
        overflow: hidden;
}

.footer hr {
	margin: 3px;
	border-top: 1px solid #35053F;
}

.fa { font: normal normal normal 16px/1 FontAwesome; }

.icon-slack { 
	width: 20px; 
	height:  20px;
	margin-bottom: -5px;
	background: url('./images/icon-slack.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div#social-kytos {
	padding: 0px;
	position: relative;
	width: auto;
}

div#social-kytos a {
	color: #FFF;
	font-size: 0.8em;
	line-height: 1.3em;
}

div#social-kytos p {
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

#sidebar h1 {
	font-size: 1.9rem;
	margin: 0px;
}

.features-content {
	padding: 3em 6em;
	color: #FFF;
	padding-bottom: 150px;
	margin-left: -1.3em;
}

#tutorials .row { margin-left: 0; margin-right: 0; }

.box-tutorial {
	position: relative;
        margin: 3% 2.3% 0 0;
        box-shadow: 0 0 0.5em #E1E1E1;
        text-align: center;
        border-top: 3px solid #CCC;
	cursor: pointer;
	min-height: 280px;
	width: 31%;
	float: left;
	padding: 1em;
	padding-top: 0;
}

.box-tutorial:hover {
	border-top: 3px solid #0c5d66;
	box-shadow: 0 0 0.5em #0c5d66;
}

.more-tutorial { margin-top: 2em; }

.box-tutorial span.easy { color: green; }
.box-tutorial span.medium { color: orange; }
.box-tutorial span.dificult { color: red; }

.box-tutorial .info-tutorial {
	padding:  0 2em;
        position: absolute;
        bottom: 5px;
	width: 100%;
        left: 50%;
        margin-left: -50%;
}

.box-tutorial .info-tutorial span {
       font-size: 0.8em;
       margin-bottom: 1em;
       border: 1px solid #CCC;
       border-radius: 0 1em 1em 0;
}

.box-tutorial .info-tutorial span.first {
       border-right: 0;
       border-radius: 1em 0 0 1em;
}

.box-tutorial h3 { line-height: 1.2em; }

.box-tutorial p {
       font-size: 1em;
       line-height: 1.5em;
       margin: 1em;
       margin-bottom: 4em;
}

.navbar-nav {
    margin: 0px;
    display: inline-block;
    float: right;
}

.navbar-options li {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    font-size: 0.7em;
    opacity: 0.95;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}

.navbar-options li {
    border: 1px solid transparent;
}
.navbar-options li.active,
.navbar-options li:hover {
    border: 1px solid #00b4c4; 
}
.navbar-brand { margin-left: 1.9em; }
.navbar-toggle { top: 10px; right: 10px; position: absolute; }
.navbar-collapse { float: right; width: 330px; }

@media (max-width: 990px) {
	.features-content { background: none !important; padding-bottom: 1rem !important; }
	#outer-clipart { display: none; }
	aside {
		background: linear-gradient(45deg, #68286a 0%,#322c5d 30%,#207cca 30%,#322c5d 30%); 
		margin-bottom: 3rem;
	}
	#kytos-theme-content-container {
 	   border: 1em solid #FBF9FD;
   	}
	.footer {
		margin-top: 5px;
		position: relative !important;
	}
	.docs-social { display: none; }
	
	.content-developer .section h1,
	.content-admin .section h1,
	.content-developer .section p.first,
	.content-admin .section p.first {
		margin-left: 0px;
		margin-bottom: 5px;
	}

}

@media (max-width: 451px) {
	.features-content { padding: 2em; }
	#kytos-theme-content-container {
 	   border: 0px;
	   padding: 0.6em;
   	}
	.navbar-brand { margin-left: 0px; }

}

@media (min-height: 800px) {
	   footer { position: fixed !important; bottom: 10px; }
	   #outer-clipart { min-height: 415px; }
}

@media (max-width: 769px) {
   .navbar-options.collapsing li,
   .navbar-options.in li:hover,
   .navbar-options.in li { 
   	border: none;
   	border-bottom: 1px solid #151d24;
   	border-radius: none;
   	margin: 0px;
   	padding: 1em;
   	margin-right: -20px;
   	margin-left: -20px;
   }
   .navbar-options.collapsing,
   .navbar-collapse.in {
   	width: 110%;
   	top: 80px;
   	margin-left: -30px;
   	text-align: center;
   	background: #2e373e;
   	position: absolute;
   	float: none;
   }
   
   .navbar-options.collapsing ul,
   .navbar-collapse.in ul {
   	width: 100%;
   }
}

@media (min-width: 990px) and (max-width: 1570px) {
   .navbar-options.collapsing li,
   .navbar-options.in li:hover,
   .navbar-options.in li { 
   	border: none;
   	border-bottom: 1px solid #151d24;
   	border-radius: none;
   	margin: 0px;
   	padding: 1em;
   	margin-right: -20px;
   	margin-left: -20px;
   }
   .navbar-options.collapsing,
   .navbar-collapse.in {
   	width: 110%;
   	top: 80px;
   	margin-left: -30px;
   	text-align: center;
   	background: #2e373e;
   	position: absolute;
   	float: none;
   }
   .navbar-options.collapsing ul,
   .navbar-collapse.in ul {
   	width: 100%;
   }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: right!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
